<div class="carousel-container">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/images/cards/card1.jpg">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/images/cards/card2.jpg">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/images/cards/card3.jpg">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/images/cards/card4.jpg">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/images/cards/card5.jpg">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/images/cards/card6.jpg">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/images/cards/card7.jpg">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/images/cards/card8.jpg">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/images/cards/card9.jpg">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="assets/images/cards/card10.jpg">
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
