<div class="banner-container">
  <div class="banner-content">
    <div class="banner-title">
      <h1>House of Cards</h1>
    </div>
    <div class="banner-description">
      <p>Nada pode impedir o político sem escrúpulos Frank Underwood de conquistar Washington. Assista agora a nova temporada de House of Cards que está imperdível.</p>
    </div>
    <div class="banner-buttons">
      <button class="banner-button">
        <i class="banner-icon">
          <fa-icon classe="banner-icon" [icon]="faPlay"></fa-icon>
        </i>
        Assistir Agora
      </button>
      <button class="banner-button">
        <i class="banner-icon">
          <fa-icon [icon]="faInfoCircle"></fa-icon>
        </i>
        Mais Informações
      </button>
    </div>
  </div>
</div>
